body{
    background-color: black;
    h1{
        color: white;
        text-shadow:3px 3px 5px ;
    }
    #p1{
        color: white;
        text-shadow:3px 3px 5px ;
    #p2{
        color: orange;
        text-shadow: 3px 3px 5px ;
        font-size: 2em;
    }
    #p3{
        color: yellow;
        font-weight: bold;
        font-size: 1am;
        font-style:verdana, arial, helvetica;
        text-shadow: 3px 3px 5px ; 
    }
    #pa1{
        color: green;
        text-decoration: underline red;
        text-shadow: 3px 3px 5px ;
    }
    #bt1{
        color: white;
        background-color: black;
        border: 2px solid white;
    }
}